.container{
    // background: #f4f5f5;
    // height: 100vh;
    // background-color: #adb5bd93;
    // color: linear-gradient(270deg,#25b137,#0c6846 96%);
    background: linear-gradient(270deg,#25b137,#0c6846 96%);
    .content{
        
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        .auction-direct{
            // border: 1px solid red;
            // background: linear-gradient(270deg,#25b137,#0c6846 96%);
            color: white;
            height: 100vh;
            // background-image: url(../assets/images/Vna_bg.jpg);
            // color: white;
            // background-size: cover; 
            // background-position: center; 
            // background-repeat: no-repeat;
            .company-title-container{
                display: flex;
                justify-content: center;
                .company-title{
                    font-weight: 600;
                    font-size: 70px;
                    // margin-top: 20px;
                    margin-bottom: 60px;
                }
            }
            .auction-direct-top{
                // border: 1px solid blue;
                // margin-top: 20px;
                display: flex;
                align-items: center;
                gap: 20px;
                .property-name-container{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .property-name{
                        font-size: 30px;
                    }
                    .property-name-input-container{
                        // border: 1px solid orange;
                        // display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 350px;
                        width: 1000px;
                        margin-left: 150px;
                        .short-name{
                            height: 100px;
                            width: 100px;
                            font-size: 30px;
                            background-color: white;
                        }
                        .property-name-input{
                            background-color: white;
                            // min-height: 100%;
                            min-width: 100%;
                            color: black;
                            border: 0.5px solid black;
                            text-align: center;
                           
                            
                            font-size: 30px;
                            .property{
                                
                            }
                        }
                    }
                }
                .property-name-info-container{
                    .sub-property-title{
                        font-size: 30px;
                    }
                    .sub-property-info-input{
                        height: 50px;
                        width: 600px;
                        border: 1px solid black;
                        background-color: white;
                        font-weight: bold;
                        font-size: 30px;
                    }
                }
            }
            .Lock-info-container{
                margin-top: 15px;
                display: flex;
                justify-content: center;
                .Lock-info{
                    width: 300px;
                    height: 30px;
                    border-radius: 14px;
                    // background: linear-gradient(270deg,#25b137,#0c6846 96%);
                    background-color: white;
                    color: black;
                    cursor: pointer;
                    border: none;
                    &:hover{
                        background-color: #14a800;
                        color: white;
                    }
                }
            }
            .auction-direct-mid{
                margin-top: 10px;
                display: flex;
                align-items: center;
                gap: 20px;
                .sub-property-title{
                    font-size: 30px;
                }
                .number-of-step{
                    margin-top: 10px;
                    margin-left: 150px;
                    height: 40px;
                    width: 370px;
                    font-weight: bold;
                    font-size: 30px;
                }
                .number-of-step-input{
                    
                    background-color: white;
                    border: none;
                    cursor: pointer;
                    border-radius: 14px;
                    height: 45px;
                    margin-top: 50px;
                    width: 130px;
                    
                    &:hover{
                        background-color: #14a800;
                        color: white;
                    }
                }
                .auction-go-back{
                    .auction-go-back-btn{
                        height: 48px;
                        width: 100px;
                        margin-top: 45px;
                        border-radius: 14px;
                        border: none;
                        cursor: pointer;
                        &:hover{
                            background-color: #14a800;
                            color: white;
                        }
                    }
                }
            }
            .auction-direct-bottom{
                margin-top: 10px;
                .sub-property-title{
                    font-size: 30px;
                }
                .current-highest-price{
                    border: 1px solid green;
                    background-color: white;
                    color: black;
                    margin-top: 10px;
                    margin-left: 150px;
                    height: 170px;
                    width: 1640px;
                    text-align: center;
                    font-size: 100px;
                    font-weight: 600;
                }
            }
        }





    }
}